
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

li {
  border: 1px solid black;
  margin: 1rem;
  font-family: 'Concert One', cursive;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: center;
  align-items: center;
  & .container__card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    &__title {
      font-size: 2rem;
    }
  }
  img {
    background-color: transparent;
  }
}


.selected img {
  width: 18rem;
  animation: animate 1s linear infinite;
  background-color: transparent;
}

@keyframes animate {
  0%{
     transform: rotateY(0deg);
  }
  100%{
      transform: rotateY(360deg);
  }
}

.container__card {
  max-width: 400px;
  background-color: transparent;
  color: black;
}


